body{
  background-image: linear-gradient(to right, #82c4c3 , #bc658d);
  font-family: 'Permanent Marker', cursive;
  text-align: center;

}
.gif{
  width:10%;
  height:10% auto;
}
.heading h1{
  color: #336d88;
  margin-top:0;
  text-shadow:7px 7px 7px grey;
  font-size: 8rem;
  margin-bottom: 0;
}
h4{
font-family: cursive;
}
.set{
  height:200px;
  padding:100px;
}

.drum{
background-image: linear-gradient(to right, grey , #82c4c3);
  color: white;
  width:120px ;
  height:120px;
  font-size: 4rem;
  margin-left: 10px;
  margin-right: 10px;
  transition: height 0.5s;
  margin-bottom: 30px;
}

.drum:hover{
   shadow: 8px;
    box-shadow: 10px 10px 5px black;
    opacity: 0.8;
}
 .pressed{
   shadow: 4px;
   box-shadow: 10px 10px 5px black;
   height:140px;
   border: 5px solid white;
   color: black;
 }
